﻿
<link type="text/css" rel="stylesheet" href="~/Content/Login/homepage.css" />

<div class="shiftleftabit">
    @using (Html.BeginForm("ValidateLogin", "Login", new { returnUrl = Request.Path }))
    {
        @Html.AntiForgeryToken()
        <div class="loginmaindiv">
            <div class="loginheader">Welcome to the NHIS Dashboard Application</div>
            <div class="loginsquare shadow">
                <div class="txtdiv shadow">
                    @Html.Password("txtPassword", null, new { maxval = 15, @class = "loginbox", placeholder = "Please enter the password" })
                </div>
                <div class="validationMessage">@ViewBag.Error</div>
                <input type="submit" class="nhisbtn button" value="Login" />
                <div class="clear"></div>
            </div>
        </div>
    }
</div>