﻿@using Nursing_Common
@model List<Nursing_Common.NursingReport>

<style>
    .repeater {
        font-size: inherit;
    }
</style>
<div>
    @if (Model.Count == 0)
    {
        <div class="table">
            <div class="noreportsfound">No cards printed yet</div>
        </div>
    }
    else
    {
        <div class="pingdomSummary">
            <div id="resultPart" class="innerBox light">
                <div id="statusHistoryTable_wrapper" class="dataTables_wrapper" role="grid">
                    <table id="MiniPassportTable" class="dt withHover dataTable">
                        <colgroup>
                            <col width="30%">
                            <col width="29%">
                            <col width="13%">
                            <col width="15%">
                            <col width="13%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr role="row">
                                <th class="table-header-dark sorting_disabled" role="columnheader" rowspan="1" colspan="1"><span class="bulb"></span>Name</th>
                                <th style="text-align: left" class="table-header-dark sorting_desc" role="columnheader" tabindex="0" rowspan="1" colspan="1">Specialisation</th>
                                <th style="text-align: left"  class="table-header-dark sorting_disabled sorting_disabled" role="columnheader" rowspan="1" colspan="1">Gender</th>
                                <th class="table-header-dark sorting_disabled sorting_disabled" role="columnheader" rowspan="1" colspan="1">Date</th>
                                <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">Details</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                var report = Model[i];
                                <tr class="@(i % 2 == 0 ? "even" : "odd")">
                                    <td>@Helper.ToFirstLetterUpper(report.Firstname.ToLower()) @(string.IsNullOrEmpty(report.Middename) ? "" : Helper.ToFirstLetterUpper(report.Middename.ToLower()) + " ")@Helper.ToFirstLetterUpper(report.Surname.ToLower())</td>
                                    <td style="text-align: left; padding-left: 10px;">@Helper.ToFirstLetterUpper(report.Pri)</td>
                                    <td style="text-align: left; padding-left: 10px;">@report.Gender</td>
                                    <td style="text-align: center">@report.PrintDate.ToString("dd/MM/yy")</td>
                                    <td style="border-right: none" class="clickresponse" onclick='GetCardDetails("@(report.CardId)", "@(report.Surname)")'>View</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="ppinfodiv" class="PopupWindow Hidden">
            <div class="modal"></div>
            <div class="popupinnerdiv"></div>
        </div>
    }
</div>