﻿@model NursingDashboard.Models.NursingSummaryInfo

<div class="centeredtableouter">
    <div class="afisTotals centeredtableinner">
        <div style="margin-top:30px;">
            <div class="">
                <div class="left nibsssmallheader">Today</div>
                <div class="left nibsssmallheader">This Week</div>
                <div class="left nibsssmallheader">This Month</div>
                <div class="clear"></div>
            </div>
            <div>
                <div id="totaltoday" class="left nibsstotalbox">@Model.TotalToday.ToString("N0")</div>
                <div class="left nibsstotalbox">@Model.TotalThisWeek.ToString("N0")</div>
                <div class="left nibsstotalbox">@Model.TotalThisMonth.ToString("N0")</div>
                <div class="clear"></div>
            </div>

            <div class="nibssspacetop">
                <div class="left nibsssmallheader">Total Year</div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="left nibsstotalbox">@Model.Total.ToString("N0")</div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
