﻿@using Nursing_Common
@model Nursing_Common.NursingReport

<div class="closebtn closeme">X</div>
<div class="reportFace left">
    @if (Model.Photo == null)
    {
        <div class="nofacefound shadow">No Photo Available</div>
    }
    else
    {
        <img id="faceimg" width="195" class="shadow" height="260" alt="" src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" />
    }
</div>
<div style="width: 240px" class="left">
    <div class="infoline">
        <div class="labelleft">Firstname:</div>
        <div class="labelright"> @Helper.ToFirstLetterUpper(Model.Firstname.ToLower())</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Surname:</div>
        <div class="labelright"> @Helper.ToFirstLetterUpper(Model.Surname.ToLower())</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Gender:</div>
        <div class="labelright"> @(Model.Gender)</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Marital:</div>
        <div class="labelright"> @Model.Dob.ToString("dd/MMM/yyyy")</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Primary Specialisation:</div>
        <div class="labelright"> @Helper.ToFirstLetterUpperSentence(Model.Pri)</div>
    </div>
</div>
<div class="clear"></div>

