﻿@model NursingDashboard.Models.DashboardModel

@Styles.Render("~/Content/dashboardbundle")

@Scripts.Render("~/bundles/jquery")
<script src="/Scripts/General/libs/flotr2/flotr2.js" type="text/javascript"> </script>
@Scripts.Render("~/bundles/dashboardbundle")
@Styles.Render("~/Content/summarystyles")
@Scripts.Render("~/bundles/nursing")

@Html.Hidden("refreshtime", ViewBag.RefreshTime as string)
<div id="multiviewdiv" style="height: 100%;">
    <div class="modal"></div>
    <ul id="nursingDashboard"></ul>

    <div id="NursingRegistrationsColumnChart" data-slidernum="1" class="multichart">
        @Html.Partial("_ChartTemplate", Model.NursingYearCardsColumnChart)
    </div>

    <div id="NursingMonthRegistrationsColumnChart" data-slidernum="2" class="multichart">
        @Html.Partial("_ChartTemplate", Model.NursingMonthCardsColumnChart)
    </div>

    <div id="NursingLastRegistered">
        @Html.Partial("_MiniReport", Model.NursingLastRegistered)
    </div>

    <div id="NursingAvgChart" data-slidernum="3" class="multichart">
        @Html.Partial("_ChartTemplate", Model.NursingOperationAverages)
    </div>

    <div id="NursingSummary">
        @Html.Partial("_DataTemplate", Model.NursingSummary)
    </div>

    <div id="NursingOpSummary">
        @Html.Partial("_SummaryOperationsTemplate", Model.NursingOperationSummary)
    </div>
</div>

<div id="sliderdiv" style="height: 100%; visibility: hidden">
    @Html.Partial("_SliderPanel", Model)
</div>

<div id="PopupInfo" class="PopupWindow">
    <div class="popupinfoinner">
        <div id="headertxt" class="thxHeader textcentered">@Html.Raw(Model.PopupMsg)</div>
        <div class="button closeme">Close</div>
    </div>
</div>