﻿@using NursingDashboard.Models
@model NursingDashboard.Models.DashboardModel

<script src="/Scripts/General/sliderpanel.js" type="text/javascript"> </script>

<ul id="slider">
    @foreach (var chart in Model.SliderPanel)
    {
        <li>
            @if (chart.ChartName == "BigRegistrationsx")
            {
                <div id="PassportVerificationDiv">
                    <div class="modal"></div>
                    <div style="position: absolute; width: 100%; background-color: White; z-index: 1">
                        <div id="PassportVerificationAll" class="graph">@Html.Partial("_ChartTemplate", chart.Chart)</div>
                    </div>   
                    <div class="graphinfoparent">
                        <div class="hideme button">Hide</div>
                        <div class="shadow graphinfodiv">
                            <form method="post" action="@Url.Action("SearchRegistrationRange", "Home")" data-partial="true" data-target="PassportVerificationAll">
                                <div style="margin-bottom: 15px">
                                    <div class="infobox">Year</div>
                                    @Html.Hidden("selectyearval")
                                    <select id="selectyear" class="selectbox">
                                        <option></option>
                                        @foreach (var year in Model.YearList)
                                        {
                                            <option value="@year.Key">@year.Value</option>
                                        }
                                    </select>
                                </div>
                                <div style="margin-bottom: 5px; position:relative">
                                    <div class="infobox">Month</div>
                                    @Html.Hidden("selectmonthval")
                                    <select id="selectmonth" class="selectbox">
                                        <option></option>
                                        @foreach (var month in Model.MonthList)
                                        {
                                            <option value="@month.Key">@month.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="spacetop">
                                    <input class="button updatebtn right" type="submit" value="Update" />
                                    <div class="loadingdiv right">
                                        <div class="smallmodal"></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </form>
                        </div>
                    </div>                 
                </div>
            }
            else
            {
                <div id="@chart.ChartName" class="graph">@Html.Partial(chart.ChartType, chart.Chart)</div>
            }
        </li>
    }
</ul>

