﻿@model NHISDashboards_Common.PshipReport

<div class="closebtn closeme">X</div>
<div class="reportFace left">
    <img id="faceimg" width="195" class="shadow" height="260" alt="" src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" />
</div>
<div style="width: 240px" class="left">
    <div class="infoline">
        <div class="labelleft">Firstname:</div>
        <div class="labelright"> @NHISDashboards_Common.Helper.Helper.ToFirstLetterUpper(Model.Firstname.ToLower())</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Surname:</div>
        <div class="labelright"> @NHISDashboards_Common.Helper.Helper.ToFirstLetterUpper(Model.Surname.ToLower())</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Gender:</div>
        <div class="labelright"> @(Model.Gender == "F" || Model.Gender == "Female" ? "Female" : "Male")</div>
    </div>
    <div class="infoline">
        <div class="labelleft">School:</div>
        <div class="labelright"> @Model.Institution</div>
    </div>
    <div class="infoline">
        <div class="labelleft">Registeration Date:</div>
        <div class="labelright"> @Model.RegistrationDate.ToString("dd-MMM-yyyy")</div>
    </div>
</div>
<div class="clear"></div>
