﻿/** Body & Html **/

* { outline: none; }

html {    
    color: #333;
    font-size: .85em;
    font-family: Lucida Bright;
    margin: 0;
    padding: 0;
    min-height:100%;
}

#wrapper 
{
    margin: 0; 
    position:absolute; 
    bottom:0px;
    top:0; 
    left:0; 
    right:0;
    padding: 70px 0px 8px 0px;
}

#content {min-height:100%; }

footer 
{
    margin-bottom:-30px; 
    background-color: #7AAF61;
    border-top: 1px solid #ccc;
    height: 45px; 
    border-top: 1px solid #0D5B99;
}

#content:before {
    box-shadow: -15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
}

#content:after {
    box-shadow: 15px 0 15px -15px inset;
    content: " ";
    height: 100%;
    position: absolute;
    right: -15px;
    width: 15px;
    top: 0px;
}

#content {
    background: none repeat scroll 0 0 #f4f4f4;
    position: relative;
    width: 960px;
    margin: auto;
}

#content2 {
    background: none repeat scroll 0 0 #f4f4f4;
    position: relative;
    height: 100%;
}

.content-wrapper
{
    padding: 0px 0px 10px 0px; 
    width: 960px;
    margin : 0px auto;
    position: relative;
}

.header
{
    background-color: #7AAF61;
    border-bottom: 2px solid #0D5B99;
    margin-top:-72px; 
}

.pageheader
{
    text-align: center;
    font-size: 22px;
    position: absolute;
    width: 100%;
    top: 7px;
    color: white;
}

.logosmall
{
    height: 40px;
    width: 100px;
    margin: 6px 0px 0px 0px;
    background-image: url(/images/nhistitle.png);
}

.refreshpage
{
    width: 30px;
    height: 30px;
    background-image: url(/images/refresh.png);
    margin: 10px 35px 0px 0px;
    cursor: pointer;
}

.startSlide
{
    width: 33px;
    height: 33px;
    background-image: url(/images/bigplaybtn2.png);
    margin: 7px 20px 0px 0px;
    cursor: pointer;
    z-index: 5;
    position: relative;
}

.stopSlide
{
    background-image: url(/images/bigplaybtn3.png);
}

.hoverfade:hover
{
    opacity: 0.7;
}

.nhislogo
{
    background: url(/images/nhislogo.png);  
    width: 120px;
    height: 80px; 
    margin: 5px 0px -5px 20px;
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.nhislogosmall
{
    background: url(/images/icons/nursinglogo.png);
    width: 43px;
    height: 40px;
    margin: 4px 0px 0px 55px;
    cursor: pointer;
    background-size: cover;
    position: relative;
    z-index: 5;
}

.nmcn
{
    color: white;
    margin: 8px 10px 0px 10px;
    line-height: 35px;
    font-size: 27px;
}

/** Used on every page **/

.jdpicker
{
    width: 102px; 
    padding-left: 5px;
    margin-top: -3px; 
    background: white url(/images/Calendar.jpg) no-repeat 81px 4px;
    height: 26px;
    border: 1px solid #ccc;
}

.PopupWindow
{
    padding: 40px 25px 25px 25px;
    overflow: auto; 
    background-color: White; 
    font-size: 13px;
    display:none;  
    position:relative;
    -khtml-border-radius:  5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px; 
    -webkit-border-radius: 5px 5px 5px 5px; 
    border-radius: 5px 5px 5px 5px;  
    overflow-x: hidden;
    max-height: 600px;
}

.closeButton
{
    background-color: #f4f4f4;
    text-align:center;
    width: 60px;
    border: 1px solid #ccc;
    color:#8D2136;
    cursor: pointer;
    line-height: 22px;
    height: 22px;
    margin: 10px auto 0px auto;
    padding: 0px 15px;
    font-size: 12px;
}

.closebtn
{
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: #d2322d;
    color: White;
    font-size: 10px;
    width: 18px !important;
    height: 18px !important;
    line-height: 18px;
    text-align: center;
    cursor: pointer;   
    border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
	-khtml-border-radius:  4px 4px 4px 4px; 
}

.popupinfoinner
{
    min-width: 275px; 
    text-align: center;
    font-size: 15px;
    margin: 0px 0px 0px 0px;
    color: #369;    
}

#headertxt
{
    margin: 5px 0px 15px 0px;
}

.modal {
    display:    none;
    position:   absolute;
    min-height: 150px;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/loading.gif') 
                50% 50% 
                no-repeat;
}

.smallmodal {
    display:    none;
    text-align: center;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     35px;
    width:      100%;
    background: transparent url('/images/loading.gif') 50% no-repeat;
}

.loading  {
    overflow: hidden;   
    position: relative;
}

.loading .smallmodal, .loading .modal {
    display: block;
}

.loadingdiv
{
    height: 35px;
    width: 35px;
    margin: 0px 7px 0px 7px;
}

.footernote
{
    text-align: center;
    margin: auto;
    width: 960px;
    color: white;
    font-size: 12px;
    padding: 9px 30px 0px 0px;
}

.datatemplatewrap
{
    margin-top: 15px;
}

.row
{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

div[class^='col'], div[class*=' col']
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.text-right
{
    padding: 5px 10px 5px 5px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-bottom: none;
    margin: 0px 0px 0px 5px;
    line-height: 21px;
}

.hrname
{
    font-weight: bold;
    min-height: 23px;
    text-align: center;
}

.tableval
{
    min-height: 23px;
    font-size: 15px;
    padding: 5px 0px;
    border-top: 1px solid #ccc;
}

.tableval:last-of-type, .text-right:last-of-type
{
    border-bottom: 1px solid #ccc;
}

.valwrap
{
    text-align: center;
}

.valwrap div:nth-of-type(odd)
{
    background-color: #eee;
}

.lastupdate
{
    margin: 7px 20px 0px 0px;
    color: white;
}

.title
{
    font-size: 12px;
}

.titleval
{
    font-size: 15px;
    margin-top: -2px;
}