/*
 * jquery sDashboard (2.0)
 * Copyright 2012, Model N, Inc
 * Distributed under MIT license.
 * https://github.com/ModelN/sDashboard
 */

/*dashboard css*/
.sDashboard {
	list-style-type: none;
	margin: 0;
	padding-left: 0px;
	padding-top: 5px;
	width: 100%;
	height: 100%;
	font-family : Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size : 12px;
	overflow: auto;
    box-sizing: border-box;
}

.sDashboard li {
	width: 95%;
    float: left;
    margin-bottom: 15px;
    margin-left: 5px;
}

.sDashboardWidgetHeader 
{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

 #myDashboard3 li
 {
    width: 48.5%;
    height: 97.5%;
    margin-right: 10px;
    margin-bottom: 0.5%;
 }

 #swctivityDash .sDashboardWidgetContent {
    height: 93%;
}

#socketworkssummary, #paymentsUploadedDash {
    height: 48% !important;
}

#myDashboard3 .sDashboardWidgetHeader {
    height: 20px !important;
}

/*dashboard widget css*/
.sDashboardWidget {
    height: 100%;
	border: 1px solid #CBCBCB;
	background-color: #fff;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	transition: border-color 0.3s;
    position: relative;
    box-sizing: border-box;
}
.sDashboardWidget:hover {
	border: 1px solid #AFAFAF;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	transition: border-color 0.3s;
}

/*dashboard widget header css*/
.sDashboardWidgetHeader {
	padding: 3px 3px 0px 10px;
	border: 0;
	border-bottom: 1px solid #CBCBCB;
	color: #000;
	font-weight: bold;
}

/*dashboard widget content css*/
.sDashboardWidgetContentWrap {
    padding: 26px 0px 0px 0px;
    height: 100%;
    box-sizing: border-box;
}

.sDashboardWidgetContent {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

#scholarsInstitutionDash.sDashboardWidgetContent
{
     overflow-y: auto;
}

#afisactivityDash .sDashboardWidgetContent
{
    height: 92.5%;
}

.sDashboard-circle-plus-icon 
{
    display: none;   
}

.sDashboardWidgetContentMaximized #statusHistoryTable thead th, .sDashboardWidgetContentMaximized #statusHistoryTable td
{
    font-size: 12px !important;
} 

.sDashboardWidgetContentMaximized {
	margin: 0.3em;
	padding: 0.4em;
	height: 90%;
	font-size: 12px;
}

.sDashboardWidgetContentMaximized div div div .aheader
{
    font-size: 12px;
}

.sDashboardWidgetContainerMaximized .sDashboardWidgetHeader
{
    font-size: 12px;
    text-align: center;
}


/*for centering trick see  : http://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
.sDashboardWidgetContainerMaximized {
	z-index: 9999;
	position: fixed;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
}

/*dashboard table widget css*/
.sDashboardTableView {
	width: 100%;
	height: 95%;
	overflow: auto;
    overflow-x: hidden;
}


.sDashboardTableView tbody tr:nth-child(odd)		{ background-color:#F5F5F5; }
.sDashboardTableView tbody tr:nth-child(even)		{ background-color:#FFFFFF; }

.sDashboardTableView tbody tr:nth-child(odd):hover,
.sDashboardTableView tbody tr:nth-child(even):hover
{
	background-color: #FCEFA1;
	cursor: pointer;
}


.dataTables_length, 
.dataTables_info{
	float:left;
}

.dataTables_filter,
.dataTables_paginate{
	float:right;
}

.sDashboardWidgetHeader
{
    color: #369;
    font-size: 12px;    
    line-height: 20px;
}

/*dashboard chart view css*/
.sDashboardChart {
	/*	width: 200px;
	 height: 180px;*/
	width: 100%;
	height: 95%;
	/*	cursor: pointer;*/
}

.sDashboardChartClickable {
	cursor: pointer;
}
.sDashboardChartSelectable {
	width: 100%;
	height: 95%;
	cursor: crosshair;
}

/*jquery sortable placeholder styles */
.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 225px !important;
	width: 375px !important;
}
.ui-sortable-placeholder * {
	visibility: hidden;
}

li.ui-sortable-placeholder {
	background-color: #FCEFA1;
}

/*icons*/
.sDashboard-icon, .sDashboardExpand {
	margin: 2px 5px 0 5px;
	float: right;
	background: url('/images/icon-sprite.PNG') no-repeat;
	width: 20px;
	height: 20px;
}

.sDashboard-icon:hover, .sDashboardExpand:hover {
	cursor: pointer;
}

.sDashboard-icon.sDashboard-circle-plus-icon, .sDashboardExpand {
	background-position: -2px -3px;
}
.sDashboard-icon.sDashboard-circle-minus-icon {
	background-position: -2px -29px;
}
.sDashboard-icon.sDashboard-circle-remove-icon {
	background-position: -2px -55px;
	display: none;
}

.sDashboard-icon.sDashboard-plus-icon {
	background-position: -3px -83px;
}
.sDashboard-icon.sDashboard-minus-icon {
	background-position: -2px -109px;
}
.sDashboard-icon.sDashboard-remove-icon {
	background-position: -3px -135px;
}


.sDashboard-icon.sDashboard-trash-icon {
	background-position: -4px -159px;
}
.sDashboard-icon.sDashboard-refresh-icon {
	background-position: -3px -186px;
	display: none;
}
.sDashboard-icon.sDashboard-maximize-icon {
	background-position: -2px -212px;
}

.sDashboard-icon.sDashboard-minimize-icon {
	background-position: -2px -236px;
}

/*clear fix*/

.sDashboard-clearfix:before, .sDashboard-clearfix:after {
	content: "";
	display: table;
}
.sDashboard-clearfix:after {
	clear: both;
}
.sDashboard-clearfix {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*overlay*/

.sDashboard-overlay {
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	width: 100%;
	z-index: 9998;/*z-index one less than window maximized css*/
}
/*.sDashboard-overlay {
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.1);
 background-size: 100% 100%;
 position: fixed;
 }*/
 
 #PassportVerificationLastYear
 {
    margin-top: -40px;    
 }

 .gorightbtn
 {
     position: absolute;
     height: 50px;
     width: 50px;
     right: 3px;
     top: 40%;
     opacity: 0.2;
     cursor: pointer;
     z-index:99999;
     background-image: url(/images/rarrow.png)
 }

 .gorightbtn:hover
 {
     opacity: 0.9;
 }

 .goleftbtn
 {
     position: absolute;
     height: 50px;
     width: 50px;
     left: 3px;
     top: 40%;
     opacity: 0.2;
     cursor: pointer;
     z-index:99999;
     background-image: url(/images/larrow.png)
 }

 .goleftbtn:hover
 {
     opacity: 0.9;
 }

 #afisactivityDash
 {
     height: 97.5% !important;
 }

 .sDashboardWidgetContentMaximized #DataTemplteTable thead th, .sDashboardWidgetContentMaximized #DataTemplteTable td
 {
     font-size: 12px !important;
 }

.errorlogs {
    position: absolute;
    right: 103px;
    top: 6px;
    height: 25px;
    cursor: pointer;
    width: 27px;
    display: none;
    background: url(/Images/errorlogs.png)
}

.uploadlogs {
    position: absolute;
    right: 70px;
    top: 6px;
    height: 25px;
    cursor: pointer;
    width: 27px;
    display: none;
    background: url(/Images/uploadlogs2.png)
}


#errorlogbranchStatusViewerLocal, #uploadlogbranchStatusViewerLocal
{
    display: block !important;
}

.multichart, .multichart div
{
    width: 100% !important;
    height: 100% !important;
}

.noreportsfound
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 17px;
    color: #369;
    padding: 30px 0px;
}

.nofacefound
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #369;
    height: 200px;
    font-size: 15px;
    padding: 20px;
}

.clickresponse
{
    color: navy;    
    text-decoration: underline;
    cursor: pointer;
}

.invalid
{
    color: #666;
}

.table-header-dark {
    background-color: black;
    background-size: cover;
    color: #fff;
}

.reportFace
{
    margin-right: 15px;
}

.labelleft
{
    font-size: 12px;
    margin-bottom: 1px;
    color: #369;
}

.labelright
{
    font-size: 12px;
}

.infoline
{
    margin-bottom: 5px;
}

#ppinfodiv
{
    min-width: 350px;
    min-height: 240px;
    box-sizing: border-box;
}

.sDashboard > li {
    display: inline-block;
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}

 .graphinfodiv
 {
     border: 1px solid #ccc; 
     background-color: White;
     padding: 10px; 
     width: 150px;
     font-size: 12px;
     margin: 20px 0px 0px 0px;
 }
 
 .graphheader
 {
    font-size: 12px;
    text-align: center;  
    color: #369;  
 }

 .graphinfoparent
 {
     position: absolute; 
     right: 7px; 
     bottom: 14%;
     z-index: 1;
 }

 #PassportVerificationDiv
 {
     position: relative; 
     height: 100%; 
     width: 100%;
 }

 .updatebtn
 {
     margin: 0px 0px 10px 0px;
     padding: 0px 5px !important;
     width: 70px;
 }

 .hideme
 {
     position: absolute;
     top: 5px;
     right: 5px;
     width: 55px;
     padding: 0px !important;
     height: 22px;
     line-height: 22px;
 }

 .maketransparent
 {
     opacity: 0.3;
 }

 .pingdommsg
 {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 15px;
    color: #369;
}

 #uploaderdashboard li, #socketworksdashboard li
 {
    width: 48.5%;
    height: 97.5%;
    margin-right: 10px;
    margin-bottom: 0.7%;
 }

 #branchStatusViewerLocal .sDashboardWidgetContent, #branchStatusViewerForeign  .sDashboardWidgetContent
 {
     height: 84%;
 }

 .deptype
 {
    font-size: 14px;
    padding: 5px 5px 5px 3px;
    font-weight: bold;
 }

 .startSlide, .sDashboardExpand
{
    display: none;
}

 .mb-controls
 {
    height: 45px;
 }