﻿.loginheader
{
    margin: 0px auto 0px auto;
    font-variant: small-caps;
    font-size: 28px;
    padding-top: 100px;
    width: 700px;
    text-align: center;
}

.loginLine
{
    padding: 10px 20px 0px 0px;
}

.txtdiv
{
    border: 1px solid #f9f9f9;
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
    margin-bottom: 7px;
}

.txtspace
{
	margin: 5px 0px 15px 0px;
}

.loginbox
{
    width: 100%;
    height: 40px;
    line-height: 25px;
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    box-sizing: border-box;
}

.loginsquare
{
    margin: 10px auto 50px auto;
    width: 700px;
    padding: 40px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.validationMessage
{
    color: Red;
    font-size: 13px;
    line-height: 30px;
}

.forgottenpw{
    color: navy;
    padding-left: 10px;
    text-decoration: underline;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
}

.width260
{
    width: 277px;
}

.resetpwbtn
{
    margin: 10px 0px 0px  10px;
}

.loginmaindiv
{
    z-index: 5;
    position: relative;
}

.shiftleftabit:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/Images/medicalbg.jpg);
    width: 100%;
    height: 100%;
    opacity : 0.4;
}

.shiftleftabit
{
    position: relative;
    margin-left: -90px;
    height: 100%;
}

.register
{
    color: navy;
    padding-left: 10px;
    text-decoration: underline;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}

.registerbox
{
    width: 250px;
    border: 1px solid #ccc;
    height: 30px;
    padding-left: 5px;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
}

.regspace
{
    margin-left: 20px;
}

.atiris {
    margin: 10px 0px 0px 5px;
    color: #666;
    line-height: 28px;
    font-size: 17px;
}

.regheader
{
    font-size: 18px;
    margin: 0px 0px 7px 0px;
}

.regheader:first-letter
{
    font-size: 25px;
    color: #8D2136;
}

#registrationDiv
{
    max-width: 540px;
}

.nhisbtn
{
    background-color: #7AAF61;
}
