﻿@model NursingDashboard.Models.NursingSummaryInfo

<div class="row datatemplatewrap">
    <div class="row col-sm-2">
        <div class="hrname"></div>
        <div class="hrname text-right">Received</div>
        <div class="hrname text-right">Captured</div>
        <div class="hrname text-right">QC'd</div>
        <div class="hrname text-right">Printed</div>
    </div>
    <div class="row col-sm-10">
        <div class="col-sm-3">
            <div class="hrname">Today</div>
            <div class="valwrap">
                <div class="tableval">@Model.ReceivedToday.ToString("N0")</div>
                <div class="tableval">@Model.CapturedToday.ToString("N0")</div>
                <div class="tableval">@Model.QCToday.ToString("N0")</div>
                <div class="tableval">@Model.PrintedToday.ToString("N0")</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="hrname">This Week</div>
            <div class="valwrap">
                <div class="tableval">@Model.ReceivedThisWeek.ToString("N0")</div>
                <div class="tableval">@Model.CapturedThisWeek.ToString("N0")</div>
                <div class="tableval">@Model.QCThisWeek.ToString("N0")</div>
                <div class="tableval">@Model.PrintedThisWeek.ToString("N0")</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="hrname">This Month</div>
            <div class="valwrap">
                <div class="tableval">@Model.ReceivedThisMonth.ToString("N0")</div>
                <div class="tableval">@Model.CapturedThisMonth.ToString("N0")</div>
                <div class="tableval">@Model.QCThisMonth.ToString("N0")</div>
                <div class="tableval">@Model.PrintedThisMonth.ToString("N0")</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="hrname">This Year</div>
            <div class="valwrap">
                <div class="tableval">@Model.ReceivedThisYear.ToString("N0")</div>
                <div class="tableval">@Model.CapturedThisYear.ToString("N0")</div>
                <div class="tableval">@Model.QCThisYear.ToString("N0")</div>
                <div class="tableval">@Model.PrintedThisYear.ToString("N0")</div>
            </div>
        </div>
    </div>
</div>