﻿@model NursingDashboard.Models.NursingOperationSummary

<div class="centeredtableouter">
    <div class="afisTotals centeredtableinner">
        <div style="margin-top:30px;" class="row">
            <div class="col-xs-6">
                <div class="nibsssmallheader">Awaiting Capture</div>
                <div class="nibsssmallheader">Awaiting QC</div>
                <div class="nibsssmallheader">Awaiting Print</div>
            </div>
            <div class="col-xs-6">
                <div class="nibsstotalbox">@Model.NotCaptured.ToString("N0")</div>
                <div class="nibsstotalbox">@Model.NotQCd.ToString("N0")</div>
                <div class="nibsstotalbox">@Model.NotPrinted.ToString("N0")</div>
            </div>
        </div>
    </div>
</div>
