﻿@model NHISDashboards.Models.DataTemplateInfo

<div class="pingdomSummary"> 
    <div id="resultPart" class="innerBox light">
        <div id="statusHistoryTable_wrapper" class="dataTables_wrapper" role="grid">
            <div class=""></div>
            <table class="dt withHover dataTable">
                @if (Model.NumberOfCols == 3)
                {
                    <colgroup>
                        <col width="44%">
                        <col width="28%">
                        <col width="28%">
                        <col>
                    </colgroup>
                }
                
                @if (Model.NumberOfCols == 4)
                {
                    <colgroup>
                        <col width="10%">
                        <col width="32%">
                        <col width="31%">
                        <col width="27%">
                        <col>
                    </colgroup>
                }
                
                @if (Model.NumberOfCols == 6)
                {
                    <colgroup>
                        <col width="25%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col>
                    </colgroup>
                }
                
                @if (Model.NumberOfCols == 7)
                {
                    <colgroup>
                        <col width="34%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col>
                    </colgroup>
                }
                
                @if (Model.NumberOfCols == 8)
                {
                    <colgroup>
                        <col width="21%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="14%">
                        <col>
                    </colgroup>
                }

                
                <thead>
                    <tr role="row">
                        @if (!string.IsNullOrEmpty(Model.Header1))
                        {
                            <th class="table-header-dark sorting_disabled" role="columnheader" rowspan="1" colspan="1"><span class="bulb"></span>@Model.Header1</th>
                        }
                        
                        @if (!string.IsNullOrEmpty(Model.Header2))
                        {
                            <th class="table-header-dark sorting_desc" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header2</th>
                        }
                        
                        @if (!string.IsNullOrEmpty(Model.Header3))
                        {
                            <th class="table-header-dark sorting_disabled sorting_disabled" role="columnheader" rowspan="1" colspan="1">@Model.Header3</th>
                        }
                        
                        @if (!string.IsNullOrEmpty(Model.Header4))
                        {
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header4</th>
                        }
                        
                        @if (!string.IsNullOrEmpty(Model.Header5))
                        {
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header5</th>
                        }
                        
                        @if (!string.IsNullOrEmpty(Model.Header6))
                        {
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header6</th>
                        }
                        
                        @if (!string.IsNullOrEmpty(Model.Header7))
                        {
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header7</th>
                        }
                        
                        @if (!string.IsNullOrEmpty(Model.Header8))
                        {
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header8</th>
                        }
                        
                        @if (!string.IsNullOrEmpty(Model.Header9))
                        {
                            <th class="table-header-dark sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">@Model.Header9</th>
                        }
                    </tr>
                </thead>
            </table>
            <table id="DataTemplteTable" class="dt withHover dataTable">
                @if (Model.NumberOfCols == 3)
                {
                    <colgroup>
                        <col width="44%">
                        <col width="28%">
                        <col width="28%">
                        <col>
                    </colgroup>
                }
                
                @if (Model.NumberOfCols == 4)
                {
                    <colgroup>
                        <col width="10%">
                        <col width="32%">
                        <col width="31%">
                        <col width="27%">
                        <col>
                    </colgroup>
                }
                
                @if (Model.NumberOfCols == 6)
                {
                    <colgroup>
                        <col width="25%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col width="15%">
                        <col>
                    </colgroup>
                }
                
                @if (Model.NumberOfCols == 7)
                {
                    <colgroup>
                        <col width="34%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col>
                    </colgroup>
                }
                
                @if (Model.NumberOfCols == 8)
                {
                    <colgroup>
                        <col width="21%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="11%">
                        <col width="14%">
                        <col>
                    </colgroup>
                }

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    @for (int i = 0; i < Model.DataItems.Count; i++)
                    {
                        <tr title="@(!string.IsNullOrEmpty(Model.DataItems[i].ErrorMessage) ? Model.DataItems[i].ErrorMessage : "")" style="@(!string.IsNullOrEmpty(Model.DataItems[i].ErrorMessage) ? "background-color: #FF7F7F" : "");@(Model.DataItems[i].IsBold ? "font-weight: bold" : "");@(Model.DataItems[i].FontSize != 0 ? "font-size: " + Model.DataItems[i].FontSize + "px" : "")" class="@(i % 2 == 0 ? "even" : "odd")">
                            @if (!string.IsNullOrEmpty(Model.DataItems[i].Item1))
                            {
                                <td class="">@Model.DataItems[i].Item1</td>
                            }

                            @if (!string.IsNullOrEmpty(Model.DataItems[i].Item2))
                            {
                                <td style="@(Model.NumberOfCols == 8 || Model.NumberOfCols == 6 ? "color: #00990F" : "color: #333333"); font-weight: bold; @(string.IsNullOrEmpty(Model.DataItems[i].Item3) ? "border-right:none;" : "")" class=" sorting_1">@Model.DataItems[i].Item2</td>
                            }

                            @if (!string.IsNullOrEmpty(Model.DataItems[i].Item3))
                            {
                                <td style="@(Model.NumberOfCols == 8 ? "color: #8D2136" : "color: #333333"); font-weight: bold; @(string.IsNullOrEmpty(Model.DataItems[i].Item4) ? "border-right:none;" : "")" class="">@Model.DataItems[i].Item3</td>
                            }

                            @if (!string.IsNullOrEmpty(Model.DataItems[i].Item4))
                            {
                                <td style="@(string.IsNullOrEmpty(Model.DataItems[i].Item5) ? "border-right:none;" : "")">@Model.DataItems[i].Item4</td>
                            }

                            @if (!string.IsNullOrEmpty(Model.DataItems[i].Item5))
                            {
                                <td style="@(string.IsNullOrEmpty(Model.DataItems[i].Item6) ? "border-right:none;" : "");">@Model.DataItems[i].Item5</td>
                            }

                            @if (!string.IsNullOrEmpty(Model.DataItems[i].Item6))
                            {
                                <td style="@(Model.NumberOfCols == 6 ? "color: #336699;font-weight: bold;" : "")@(Model.NumberOfCols == 7 ? "color: #00990F; font-weight: bold;" : ""); @(string.IsNullOrEmpty(Model.DataItems[i].Item7) ? "border-right:none;" : "")">@Model.DataItems[i].Item6</td>
                            }

                            @if (!string.IsNullOrEmpty(Model.DataItems[i].Item7))
                            {
                                <td style="@(Model.NumberOfCols == 7 ? "color: #4283C4; font-weight: bold;" : "color: #333333"); @(string.IsNullOrEmpty(Model.DataItems[i].Item8) ? "border-right:none;" : "")">@Model.DataItems[i].Item7</td>
                            }

                            @if (!string.IsNullOrEmpty(Model.DataItems[i].Item8))
                            {
                                <td style="@(string.IsNullOrEmpty(Model.DataItems[i].Item9) ? "border-right:none;" : "")">@Model.DataItems[i].Item8</td>
                            }

                            @if (!string.IsNullOrEmpty(Model.DataItems[i].Item9))
                            {
                                <td style="@(string.IsNullOrEmpty(Model.DataItems[i].Item10) ? "border-right:none;" : "")">@Model.DataItems[i].Item9</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#socketworksactivitycount').html(@(Model.DataItems.Count));
</script>