﻿<!DOCTYPE html>

<html lang="en" style="overflow: hidden">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>NMCN Dashboards</title>
    @Styles.Render("~/Content/master")
   
</head>
<body  id="wrapper">
    <header class="header relative">
        <a href="/"><div class="nhislogosmall left"></div></a>
        <div class="nmcn left">NMCN</div>
        <div class="pageheader">Nursing & Midwifery Council</div>
        @if (ViewBag.ShowRefresh == 1)
        {
            <div class="startSlide hoverfade right"></div>
        }
        @if (ViewBag.ShowLogoff == 1)
        {
            <div class="logoff">
                @Html.ActionLink("Log Off", "LogOff", "Login")
            </div>
        }

        @if (ViewBag.XMLDate != null)
        {
            <div class="lastupdate right">
                <div class="title">Last Updated</div>
                <div class="titleval">@ViewBag.XMLDate</div>
            </div>
        }
        <div class="clear"></div>
    </header>

    <div id="content2" style="width: auto;">
        @RenderSection("featured", required: false)
        <section class="main-content clear-fix" style="height: 100%; position: relative">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="footernote">©@(DateTime.Now.Year) - Exaro Enterprise Solutions Limited</div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
